[Desktop Entry]
Encoding=UTF-8
Name=Link to Coursera | Online Courses From Top Universities. Join for Free | Coursera
Type=Link
URL=https://www.coursera.org/learn/python-plotting/home/welcome
Icon=text-html
Name[en_US]=link
